.head-title{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.habbit1{
    border: 2px solid red;
    text-align: right;
    font-weight: bold;
    padding: 30px;
}

.author{
    border: 2px solid red;
    font-size: 25px;
}

.movie{
    border: 2px solid red;
    color: blue;
}